---
import MainLayout from '../../layouts/mainLayout.astro';

import { attributionAuthors } from '../../components/attributionAuthors.ts';
---

<MainLayout lang="de" title="Magnet And Care - Lizenzierung und Zuordnung">
    <section class="my-4 md:my-8 flex flex-col items-center">
        <div class="w-11/12 md:w-4/5 flex flex-col items-center gap-5">
            <h2 class="font-bold text-3xl md:text-5xl">Zuschreibungen</h2>
            <p class="my-4 md:my-8 self-start font-semibold md:text-2xl italic">
                Klicken Sie auf die Bilder, um die Originale anzusehen und die Schöpfer zu unterstützen.
            </p>
            <div class="grid grid-flow-row grid-cols-10 grid-rows-5 md:grid-rows-1 gap-5">
                {attributionAuthors.map((person) => (
                    <div class="grid grid-rows-subgrid md:grid-cols-subgrid col-span-10 2xl:col-span-5 row-span-5 md:row-span-1 border-4 border-text rounded-lg sm:items-center">
                        <div class="w-full h-full col-span-4 2xl:col-span-2 row-span-2 md:row-span-1">
                            <a href={person.linkCreator} target="_blank" class="flex justify-center items-center h-full w-full">
                                {person.artworkType === 'image' ? (
                                    <img src={person.artworkImage} alt={`${person.authorName} delo`} class="max-h-[184px] h-full w-full object-cover"/>
                                ) : person.artworkType === 'svg' ? (
                                    <div set:html={person.svg} class="w-1/2 max-w-52 my-5 md:py-0 flex justify-center items-center"/>
                                ) : person.artworkType === 'illustration' ? (
                                    <img src={person.artworkImage} alt={`${person.authorName} ilustracija`} class="max-h-[184px] h-full w-full p-5 object-contain"/>
                                ) : (
                                    <div class="h-full py-10 flex justify-center items-center font-bold text-3xl">{person.text}</div>
                                )}
                            </a>
                        </div>
                        <div class="my-5 px-5 2xl:pl-0 col-span-4 2xl:col-span-2 row-span-2 md:row-span-1">
                            <div class="font-bold text-lg md:text-2xl">Autoren:</div>
                            <div set:html={person.authorName} class="font-semibold md:text-xl italic" />
                        </div>
                        <div class="w-full h-full px-5 md:px-0 col-span-2 2xl:col-span-1 row-span-1 md:row-span-1">
                            <a href={person.linkLicence} target="_blank" class="h-full w-full py-5 md:py-0 flex items-center font-semibold text-lg md:text-2xl md:hover:text-accent duration-300">Lizenz</a>
                        </div>
                    </div>
                ))}
            </div>
        </div>

    </section>

    <style>

    </style>
</MainLayout>